@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&display=swap');
*{
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
html {
    scroll-behavior: smooth; /*scrollea suave */
}

body{
    font-family:  'Raleway', sans-serif;
    color: black;
    background-image: url(../img/fondo1.jpg); 
    background-attachment: fixed;
    background-size: cover;     
    background-position: center;
    background-repeat: no-repeat;
    
}
a{
    text-decoration: none;
}

@media (min-width: 1000px) {
    body{
        font-family:  'Raleway', sans-serif;
        color: black;
        font-size: 16px;
        font-weight: 400;
    }
    a{
        text-decoration: none;
    }

header{
    display: flex;
    justify-content:space-between ;
    align-items:center ;
    height: 75px;
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 16px;
    background-color: #1c0326f0;
    z-index: 2;
}
    header a img {
        max-width: 70px;
        vertical-align: middle;  
        margin-right: 16px; 
        font-size: 20px;
    }
    header a {
        color: #49c935;
        font-weight: 3000;
    }

    .navbar a {
       
        margin-left: 30px;
        margin-right:30px;
        padding: 15px;         
        font-size: 20px;    
    }
    .navbar a:hover {
        background: #d147f468;
    }

    .inicio {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;       
        background-size: cover;     
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        background-attachment: fixed;
    }
    
    .inicio h1 {
        color: #49c935;
        font-size: 30px;
        font-weight: 400;
        margin-top: 100px; 
        margin-bottom: 50px;
        text-align: center;
        }
    
        #formulario {
            background-color: rgba(227, 165, 231, 0.362);
            width: 70%; 
            max-width: 600px; 
            margin: auto;
            padding: 20px;
            color: #07dc23;
            font-weight: 700;
            border-radius: 12px;
            margin-top: 5px;
            margin-bottom: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
        }
    
    #formulario label {
        display: block;
        margin-bottom: 8px;
    }
    
    #formulario input,
    #formulario button,
    #formulario textarea {
        width: 100%;
        border-radius: 12px;
        border: none;
        padding: 16px;
        font-family: 'Raleway';
        color: #102f14;
        font-weight: 700;
        margin-bottom: 16px;
    }
    
    #formulario input,
    #formulario textarea {
        background-color: #f4f4f4;
        color: #102f14;
        border: #F4F4F4 solid;
        transition: 0.3s;
    }
   #formulario select {
        width: 100%;
        padding: 2px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-family: 'Raleway', sans-serif;
    }
    
    #formulario button {
        background-color: #63046d;
        color: black;
        transition: 0.3s;
        padding: 10px;
        font-weight: 700;
        color: #49c935;
        margin-top: 20px;
    }
    
    #formulario button:hover {
        background-color: #055f11;
    }
    
    #formulario button.btnLogo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url(../img/disquete.png);
        background-size: 22px;
        background-repeat: no-repeat;
        background-position: left 10px center; 
        width: 150px; 
        height: 40px; 
        padding-left: 20px; 
    }

    #formulario button#eliminar {
        background-image: url(../img/eliminar.png); 
    }
    
    
    #formulario textarea {
        height: 100px;
        resize: none;
    }
    
    #formulario #radio label {
        display: inline-block;
        margin-right: 10px;
    }

    #radio .icono {
        margin-right: 5px; 
        width: 20px; 
    }

    #formulario .iconoMiedo {
        margin-right: 5px; 
        width: 20px; 
    }

    #radio {
        display: flex;
        flex-direction: row; 
        border: none; 
    }
    
    #radio input[type="radio"] {
        margin-right: 5px; 
        margin-left: 35px;        
    }

    #radio legend {
        margin-bottom: 20px; 
        font-size: 15px;
        
    }
    #filtroMonstruos,
    #promedioMiedoLabel,
    #promedioMiedo {
      display: inline-block;
      margin-top: 20px;
      margin-bottom: 20px;

    }

    #filtroMonstruos {
        color: green;
        margin-left: 50px;       
    }     
    
    #selectFiltroTipo {
        width: 200px; 
        margin-left: 20px;
    }

    #btnFiltrar {
        display: block; 
        background-color: #63046d;
        color: black;
        transition: 0.3s;
        padding: 10px;
        font-weight: 700;
        color: #49c935;
        margin-top: 20px;
        margin-left: 20px;
    }

    #promedioMiedo{
        width: 200px; 
        margin-left: 30px;
    }

    .promedioMiedoLabel{
        color: green;
        font-weight: 30px;
    }

    /* Estilos para la tabla */

    table {    
    width: 70%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 100px;
    color: green;
}

#tablaPrueba th, #tablaPrueba td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#tablaPrueba th {
    background-color: rgb(79, 146, 79, 0.362);
    color: #4b9955;
    text-align: center;
}

#tablaPrueba td {
    background-color: rgba(52, 17, 52, 0.362);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"],
input[type="range"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
/* Agrega estilos para el gif de carga */
#loader {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

/*footer*/
footer {
    background-color:#1c0326f0;
    
   
}
    #contenidofooter{
        display: flex;
        margin: auto;
        justify-content: space-between;
        width: 80%;
        align-items: center;
        height: 40px;
        padding: 16px;
    }

    #contenidofooter a{
        color: white;
        font-weight: 600;
    }
    #logo-footer img{
        width: 30px;
        margin-right: 8px;
        vertical-align: middle;
        border-radius: 30px;
    }

    footer div a img{
        width: 24px;
        margin-left: 8px;
    }

    footer div iframe{
        width: 140px;
    }

    footer p{
        color: white;
    }
}    

/*medida small para tablet*/
@media ( min-width: 600px ) and (max-width:999px) {
    body{ 
        font-size: 12px;
    }
    header{
        display: flex;
        justify-content:space-between ;
        align-items:center ; 
        height: 75px;
        position: fixed;
        width: 100%;
        margin: auto;
        padding: 16px;
        background-color: #1c0326f0;
        z-index: 2;
    }
        header a img {
            width: 30px;
            vertical-align: middle;  
            margin-right: 16px; 
            font-size: 20px;
        }
        header a {
            color: #49c935;
            font-weight: 1000; 
        }
    
        .navbar a {           
            margin-left: 10px;
            margin-right:10px;
            padding: 8px; 
            font-size: 12px;    
        }
        .navbar a:hover {
            background: #d147f468;
        }
    
        .inicio {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;       
            background-size: cover;     
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            background-attachment: fixed;
        }
        
        .inicio h1 {
            color: #49c935;
            font-size: 30px;
            font-weight: 400;
            margin-top: 20px; 
            margin-bottom: 20px;
            text-align: center;
            }
        
            #formulario {
                background-color: rgba(227, 165, 231, 0.362);
                width: 70%; 
                max-width: 600px; 
                margin: auto;
                padding: 20px;
                color: #07dc23;
                font-weight: 700;
                border-radius: 12px;
                margin-top: 5px;
                margin-bottom: 200px;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }
        
        #formulario label {
            display: block;
            margin-bottom: 8px;
        }
        
        #formulario input,
        #formulario button,
        #formulario textarea {
            width: 100%;
            border-radius: 12px;
            border: none;
            padding: 16px;
            font-family: 'Raleway';
            color: #102f14;
            font-weight: 700;
            margin-bottom: 16px;
        }
        
        #formulario input,
        #formulario textarea {
            background-color: #f4f4f4;
            color: #102f14;
            border: #F4F4F4 solid;
            transition: 0.3s;
        }
       #formulario select {
            width: 100%;
            padding: 2px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: 'Raleway', sans-serif;
        }
        
        #formulario button {
            background-color: #63046d;
            color: black;
            transition: 0.3s;
            padding: 10px;
            font-weight: 700;
            color: #49c935;
            margin-top: 20px;
        }
        
        #formulario button:hover {
            background-color: #055f11;
        }
        
        #formulario button.btnLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/disquete.png);
            background-size: 22px;
            background-repeat: no-repeat;
            background-position: left 10px center; 
            width: 150px;
            height: 40px; 
            padding-left: 20px; 
        }
    
        #formulario button#eliminar {
            background-image: url(../img/eliminar.png); 
        }
        
        
        #formulario textarea {
            height: 100px;
            resize: none;
        }
        
        #formulario #radio label {
            display: inline-block;
            margin-right: 10px;
        }
    
        #radio .icono {
            margin-right: 5px; 
            width: 20px; 
        }
    
        #formulario .iconoMiedo {
            margin-right: 5px; 
            width: 20px; 
        }
    
        #radio {
            display: flex;
            flex-direction: row; 
            border: none; 
        }
        
        #radio input[type="radio"] {
            margin-right: 5px; 
            margin-left: 35px;        
        }
    
        #radio legend {
            margin-bottom: 20px; 
            font-size: 15px;
            
        }
    
        /* Estilos para la tabla */
    
        table {
        width: 70%;
        border-collapse: collapse;        
        margin-bottom: 100px;
        margin-left: 110px;
        color: green;
    }
    
    #tablaPrueba th, #tablaPrueba td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    
    #tablaPrueba th {
        background-color: rgb(79, 146, 79, 0.362);
        color: #4b9955;
        text-align: center;
    }
    
    #tablaPrueba td {
        background-color: rgba(52, 17, 52, 0.362);
    }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    
    input[type="text"],
    input[type="range"],
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    /* Agrega estilos para el gif de carga */
    #loader {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    /*footer*/
    footer {
        background-color:#1c0326f0;
        
       
    }
        #contenidofooter{
            display: flex;
            margin: auto;
            justify-content: space-between;
            width: 80%;
            align-items: center;
            height: 40px;
            padding: 16px;
        }
    
        #contenidofooter a{
            color: white;
            font-weight: 600;
        }
        #logo-footer img{
            width: 30px;
            margin-right: 8px;
            vertical-align: middle;
            border-radius: 30px;
        }
    
        footer div a img{
            width: 24px;
            margin-left: 8px;
        }
    
        footer div iframe{
            width: 140px;
        }

        footer p{
            color: white;
        }
}

/*medida extra small para celular*/
@media ( min-width:360px ) and (max-width:599px){
    body{ 
        font-size: 8px;
    }
    header{
        display: flex;
        justify-content:space-between ;
        align-items:center ; 
        height: 75px;
        position: fixed;
        width: 100%;
        margin: auto;
        padding: 16px;
        background-color: #1c0326f0;
        z-index: 2;
    }
        header a img {
            width: 30px;
            vertical-align: middle;  
            margin-right: 16px; 
            font-size: 20px;
        }
        header a {
            color: #49c935;
            font-weight: 3000;
        }
    
        .navbar a {           
            margin-left: 6px;
            margin-right:6px;
            padding: 3px;   
            font-size: 12x;    
        }
        .navbar a:hover {
            background: #d147f468;
        }
    
        .inicio {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            padding: 0;       
            background-size: cover;     
            background-position: center;
            background-repeat: no-repeat;
            height: 100vh;
            background-attachment: fixed;
        }
        
        .inicio h1 {
            color: #49c935;
            font-size: 30px;
            font-weight: 400;
            margin-top: 100px; 
            margin-bottom: 50px;
            text-align: center;
            }
        
            #formulario {
                background-color: rgba(227, 165, 231, 0.362);
                width: 70%; 
                max-width: 600px;
                margin: auto;
                padding: 20px;
                color: #07dc23;
                font-weight: 700;
                border-radius: 12px;
                margin-top: 5px;                
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 20px;
            }
        
        #formulario label {
            display: block;
            margin-bottom: 8px;
        }
        
        #formulario input,
        #formulario button,
        #formulario textarea {
            width: 30%;
            border-radius: 12px;
            border: none;
            padding: 16px;
            font-family: 'Raleway';
            color: #102f14;
            font-weight: 700;
            margin-bottom: 16px;
        }
        
        #formulario input,
        #formulario textarea {
            background-color: #f4f4f4;
            color: #102f14;
            border: #F4F4F4 solid;
            transition: 0.3s;
        }
       #formulario select {
            width: 30%;
            padding: 2px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-family: 'Raleway', sans-serif;
        }
        
        #formulario button {
            background-color: #63046d;
            color: black;
            transition: 0.3s;
            padding: 10px;
            font-weight: 700;
            color: #49c935;
            margin-top: 20px;
        }
        
        #formulario button:hover {
            background-color: #055f11;
        }
        
        #formulario button.btnLogo {
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/disquete.png);
            background-size: 22px;
            background-repeat: no-repeat;
            background-position: left 10px center; 
            width: 150px; 
            height: 40px; 
            padding-left: 20px; 
        }
    
        #formulario button#eliminar {
            background-image: url(../img/eliminar.png); 
        }
        
        
        #formulario textarea {
            height: 100px;
            resize: none;
        }
        
        #formulario #radio label {
            display: inline-block;
            margin-right: 10px;
        }
    
        #radio .icono {
            margin-right: 5px; 
            width: 20px; 
        }
    
        #formulario .iconoMiedo {
            margin-right: 5px; 
            width: 20px; 
        }
    
        #radio {
            display: flex;
            flex-direction: row; 
            border: none; 
        }
        
        #radio input[type="radio"] {
            margin-right: 5px; 
            margin-left: 35px;        
        }
    
        #radio legend {
            margin-bottom: 20px; 
            font-size: 15px;
            
        }
    
        /* Estilos para la tabla */
    
        table {
        width: 70%;
        border-collapse: collapse;
        margin-top: 200px;
        margin-bottom: 100px;
        margin-left: 20px;
        color: green;
    }
    
    #tablaPrueba th, #tablaPrueba td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: center;
    }
    
    #tablaPrueba th {
        background-color: rgb(79, 146, 79, 0.362);
        color: #4b9955;
        text-align: center;
    }
    
    #tablaPrueba td {
        background-color: rgba(52, 17, 52, 0.362);
    }
    
    label {
        display: block;
        margin-bottom: 10px;
    }
    
    input[type="text"],
    input[type="range"],
    select {
        width: 100%;
        padding: 8px;
        margin-bottom: 10px;
        box-sizing: border-box;
    }
    /* Agrega estilos para el gif de carga */
    #loader {
        display: none;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 9999;
    }
    
    /*footer*/
    footer {
        background-color:#1c0326f0;     
        
       
    }
        #contenidofooter{
            display: flex;
            margin: auto;
            justify-content: space-between;
            width: 80%;
            align-items: center;
            height: 40px;
            padding: 16px;
        }
    
        #contenidofooter a{
            color: white;
            font-weight: 600;
        }
        #logo-footer img{
            width: 30px;
            margin-right: 8px;
            vertical-align: middle;
            border-radius: 30px;
        }
    
        footer div a img{
            width: 24px;
            margin-left: 8px;
        }
    
        footer div iframe{
            width: 140px;
        }

        footer p{
            color: white;
        }
}